<?php
    echo "ưdsdsdâsasasaas";
    echo "ưdsdsdâsasasaas";
?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellcome to Aptech</title>
</head>
<body style="text-align: center;background-color: black;">
    <div>
        <h1 style="color: aqua;font-weight: bold;">HỆ THỐNG ĐIỂM DANH APTECH</h1>
        <div style="font-size: 35px;font-style: italic;">
            <a href="http://localhost:3000/listAllStudentJson">Danh sách sinh viên</a> <br>
            <a href="#">Danh sách khóa học</a> <br>
            <a href="#">Danh sách lớp học</a> <br>
            <a href="#">Điểm danh</a> <br>
        </div>
        
    </div>
    
</body>
</html>